#id1{
    margin-left: 20%;
}
.s1{
    margin-right: 70px;
    text-decoration: none;
    color: #B8C9CC;
}
#id2{
    padding-left: 15%;
}
#id3{
    margin-left: 10%;
    margin-right: 10%;
    background-color: #dddddd; 
    height: 600px;
}
#id4{
    background-color: #00ff00;
    width: 140px; 
    height: 30px;
    margin-left: 87%;
}
.s2{
    margin-right: 10px; 
    text-decoration: none;
    color: #224422;
}
.s3{
    margin-right: 30px;
    width=149px;
    height=150px;
}
.s4{
    margin-left: 80px;
    margin-top: 10px;
}
.s5{
    padding-left: 10%;
}
#id5{
    margin-left: 10%;
    margin-right: 10%; 
    background-color: #dddddd;
    height: 280px;
}
.s6{
    margin-right: 20px
}
.s7{
    background-color: #00ff00;
    width: 140px;
    height: 30px; 
    margin-left: 87%;
    
        
}
.s8{
    margin-left: 5px;
}
.s9{
    margin-left: 5px;
    margin-top: 5px;
}
.s10{
    float:right;
    background-color: #dddddd;
    margin-top: 0px; 
    display:inline;
}
.s11{
    margin-left:20px;
    width=190px;
    height=155px;
}
.s12{
    display:inline;
    margin-left:160px;
    color: #224422;
}
.s13{
    margin-left: 10%;
    margin-right: 10%;
    background-color: #dddddd;
}
#gh2{
   float: right;   
   margin-top: 20px;
}
#gh1{
   float: left;   
    margin-top: 0px;
    text-decoration: none; 
    text-align: right;
}
.bg1{
    float: left;
    width: 30%;
    background-color: #dddddd;
    height:400px;
    
}
.s14{
    margin-left:100px;
}
.s15{
    margin-left: 10px;
}
.s16{
    margin-right: 15px;
    text-decoration: none;
    color: #224422;
}