<html>
<head>
    <meta charset="utf-8">
    <link href='{{ static_url("css/bootstrap.css")}}' rel="stylesheet" type="text/css">
    <link href='{{ static_url("css/bootstrap-theme.css")}}' rel="stylesheet" type="text/css">
    <link href='{{ static_url("css/style.css")}}' rel="stylesheet" type="text/css">
</head>


<body>
  <section class="kole">
    <section class="container">
      <div class="row " >
         <div class=" cal-md-12">
             <p class="nega">نگارخانه ایرانی</p>
             <nav class="navbar navbar-inverse" role="navigation">
                 <div class="navbar-header" >
                   <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                   </button>
                 </div>

                 <div class="collapse navbar-collapse navbar-ex1-collapse">
                    <ul class="nav navbar-nav navbar-right">

                      <li><a href="#">رویداد</a></li>
                      <li><a href="#">نوشتار</a></li>
                      <li><a href="#">خبر</a></li>
                      <li><a href="#">مدرسه</a></li>
                      <li><a href="#">تماشاخانه</a></li>
                      <li><a href="#">فروشگاه</a></li>
                      <li><a href="#">اعضا</a></li>
                      <li><a href="#">آثار</a></li>
                      <li><a href="#">خانه</a></li>


                    </ul>
                     <a class="btn btn-lg btn-success Mitra pull-left" href="/negar/show"> ورود </a>
                 </div>

              </nav>

         </div>
      </div>
        
      <div class="row">

        <div class="col-lg-offset-1 col-md-12: col-ms-12 col-xs-12 table-responsive ">
           <div>
            <img src="{{static_url('img/Qb-Eyd-ta-Eyd-02_2.png')}}">
           </div>
        </div>

      </div>

      <section>
          <div class="row dmah">
              <div class="col-md-2 mahbob"><h5> محبوب ترین های ماه </h5></div>
              <div class="dasteh">
                  <div class="visible-lg ">
                    <ul class="nav navbar-nav navbar-right">

                      <li><a href="#"><h5 class="bgcdasteh"> هنرهای دجیتال </h5> </a></li>
                      <li><a href="#"><h5 class="bgcdasteh"> خوشنویسی و تذهیب </h5> </a></li>
                      <li><a href="#"><h5 class="bgcdasteh"> معماری و طراحی صنعتی </h5> </a></li>
                      <li><a href="#"><h5 class="bgcdasteh"> صنایع دستی و مجسمه سازی </h5> </a></li>
                      <li><a href="#"><h5 class="bgcdasteh"> عکاسی </h5> </a></li>
                      <li><a href="#"><h5 class="bgcdasteh"> طراحی ونقاشی </h5> </a></li>
                      <li><a href="#"><h5 class="bgcdasteh"> طراحی گرافیک </h5> </a></li>
                      <li><a href="#"><h5 class="bgcdasteh"> همه </h5> </a></li>

                    </ul>
                 </div>
              </div>
           </div>

          <div class="row bgcimg ">
            <div class="col-lg-offset-1">
                {% for ch in catInfo %}
                <img class="stimg" src="{{ch.img}}">
                {% end %}
                <!--<img class="stimg" src="{{static_url('img/mahbob/mina1001_19165852_th.jpg')}}">-->
                <!--<img class="stimg" src="{{static_url('img/mahbob/ANJOMANE-EDVARDO-AGNIELI_14200735_th.jpg')}}">-->
                <!--<img class="stimg" src="{{static_url('img/mahbob/marzeye_13210106_th.jpg')}}">-->
                <!--<img class="stimg" src="{{static_url('img/mahbob/MK_1362_13102435_th.jpg')}}">-->
                <!--<img class="stimg" src="{{static_url('img/mahbob/kavoshi_21170833_th.jpg')}}">-->
                <!--<img class="stimg" src="{{static_url('img/mahbob/samaarani_05150834_th.jpg')}}">-->
                <!--<img class="stimg" src="{{static_url('img/mahbob/nahaq_30102554_th.jpg')}}">-->
                <!--<img class="stimg" src="{{static_url('img/mahbob/hamid_hakaki_11184307_th.jpg')}}">-->
                <!--<img class="stimg" src="{{static_url('img/mahbob/farideh41_21161304_th.jpg')}}">-->
                <!--<img class="stimg" src="{{static_url('img/mahbob/kavoshi_21133444_th.jpg')}}">-->
                <!--<img class="stimg" src="{{static_url('img/mahbob/redyfish_22124844_th.jpg')}}">-->
                <!--<img class="stimg" src="{{static_url('img/mahbob/Abravi_22113207_th.jpg')}}">-->
                <!--<img class="stimg" src="{{static_url('img/mahbob/7design_10020704_th.jpg')}}">-->
                <!--<img class="stimg" src="{{static_url('img/mahbob/behfar_26133035_th.jpg')}}">-->



            </div>

          </div>


      </section>

      <div class="row">
        <div class="col-lg-offset-1 col-md-12: col-ms-12 col-xs-12 table-responsive" >
          <div class="soog">
            <img src="{{static_url('img/soogvare_1.jpg')}}">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-offset-1 col-md-12: col-ms-12 col-xs-12 table-responsive" >
          <div class="soog">
            <img src="{{static_url('img/Banner_2.jpg')}}">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-offset-1 col-md-12: col-ms-12 col-xs-12 table-responsive" >
          <div class="soog">
            <img src="{{static_url('img/95310597877230278520_1.jpg')}}">
          </div>
        </div>
      </div>

      <div class="row dmah">
              <div class="col-md-2 mahbob"><h5> آثار منتخب دوران </h5></div>
      </div>
      <div class="row bgcimg ">
            <div class="col-lg-12">
                <img class="stalbom" src="{{static_url('img/asar/Thumbnail_007.jpg')}}">
                <img class="stalbom" src="{{static_url('img/asar/Thumbnail_010.jpg')}}">
                <img class="stalbom" src="{{static_url('img/asar/Thumbnail_023.jpg')}}">
                <img class="stalbom" src="{{static_url('img/asar/Thumbnail_003.jpg')}}">
            </div>
      </div>

      <hr>

      <div class="row dmah">
              <div class="col-md-2 mahbob"><h5> آلبوم ها و هنرمندان بر گزیده </h5></div>
      </div>
      <div class="row bgcimg ">
          <div class="col-md-8 albomh ">
              <section class="col-md-2 col-sm-4 col-xs-8 test">
                  <div><img src="{{static_url('img/hh/mazhenta_05121143_th.jpg')}}"></div>
                  <div class="nazar"><a>typestting</a></div>
              </section>
              <section class="col-md-2 col-sm-4 col-xs-8 test">
                  <div><img src="{{static_url('img/hh/dastinehayeshamse_18202809_th.jpg')}}"></div>
                  <div class="nazar"><a>شهدا</a></div>
              </section>
              <section class="col-md-2 col-sm-4 col-xs-8 test">
                  <div><img src="{{static_url('img/hh/farahmandian20_16120036_th.jpg')}}"></div>
                  <div class="nazar"><a>اربعین92</a></div>
              </section>
              <section class=" col-md-2 col-sm-4 col-xs-8 test">
                  <div><img  src="{{static_url('img/hh/hojjat-ifasi_23035840_th.jpg')}}"></div>
                  <div class="nazar"><a>نقاشی خط</a></div>
              </section>
              <section class="col-md-2 col-sm-4 col-xs-8 test">
                  <div><img  src="{{static_url('img/hh/nader91_25183334_th.jpg')}}"></div>
                  <div class="nazar"><a>پوستر</a></div>
              </section>
              <section class="col-md-2 col-sm-4 col-xs-8 test">
                  <div><img  src="{{static_url('img/hh/shaghaygh1994_26154108_th.jpg')}}"></div>
                  <div class="nazar"><a>religious</a></div>
              </section>
              <section class="col-md-2 col-sm-4 col-xs-8 test">
                  <div><img  src="{{static_url('img/hh/shahid92_20143757_th.jpg')}}"></div>
                  <div class="nazar"><a>تصویرسازی</a></div>
              </section>
              <section class="col-md-2 col-sm-4 col-xs-8 test">
                  <div><img src="{{static_url('img/hh/shahid92_25164307_th.jpg')}}"></div>
                  <div class="nazar"><a>نور خدا</a></div>
              </section>

          </div>

          <div class="col-md-4">
              <div>
                  <img class="stimg" src="{{static_url('img/mehdisohrabi.jpg')}}">
              </div>
              <p><b><h4 class="visible-lg ptext">مهدی سرابی نصر</h4></b></p>
              <p><h6 class="visible-lg pttt">خوشنویس و طراح گرافیک, ابری ساز وقطاع</h6></p>
              <div>
                  <img class="koch" src="{{static_url('img/hh/T2.ashx.jpg')}}">
                  <img class="koch" src="{{static_url('img/hh/T3.ashx.jpg')}}">
                  <img class="koch" src="{{static_url('img/hh/T4l.ashx.jpg')}}">
                  <img class="koch" src="{{static_url('img/hh/T5.ashx.jpg')}}">
                  <img class="koch" src="{{static_url('img/hh/Th7ashx.jpg')}}">
              </div>
              <div>
                  <img class="koch" src="{{static_url('img/hh/Th6.ashx.jpg')}}">
                  <img class="koch" src="{{static_url('img/hh/Th8.ashx.jpg')}}">
                  <img class="koch" src="{{static_url('img/hh/Th9.ashx.jpg')}}">
                  <img class="koch" src="{{static_url('img/hh/Th10.ashx.jpg')}}">
                  <img class="koch" src="{{static_url('img/hh/Th1.ashx.jpg')}}">
              </div>
          </div>
      </div>

      <hr>

      <div class="row">
          <div class="col-md-5 col-sm-12 col-xs-12 bgcimg ">
              <p class="titlm">مطالب به اشتراک گذاشته</p>
              <div class="col-md-6 col-sm-6 col-xs-6"><a><img class="" src="{{static_url('img/tt/Thumbnail_018.jpg')}}"><p class="">هنر کاغذ</p></a></div>
              <div class="col-md-6 col-sm-6 col-xs-6"><a><img class="" src="{{static_url('img/tt/Thumbnail_006.jpg')}}"><p class="">رنگ آمیزی تاریخ سیاه وسفید جهان<br>توسط هافینگنن پست</p></a></div>
              <div class="col-md-6 col-sm-6 col-xs-6"><a><img class="" src="{{static_url('img/tt/Thumbnail_019.jpg')}}"><p class="">آموزش فتوشاپ طراحی رنگین</p></a></div>
              <div class="col-md-6 col-sm-6 col-xs-6"><a><img class="" src="{{static_url('img/tt/Thumbnail_012.jpg')}}"><p class="">ادوارد زهرا بیان طراح لوگوی هما,برترین<br>لوگوی خطوط هوایی جهان</p></a></div>
          </div>
          <div style="background-color: #ffffff" class=" col-md-1"></div>
          <div class="col-md-6 col-sm-12 col-xs-12 bgcimg ">
              <p class="titlkh">خبرها و رویدادهای هنری</p>
              <div class="col-sm-6 col-xs-6 floatl">
                  <a><img src="{{static_url('img/yy/Thumbnail_022.jpg')}}"><p>فراخوان هشتمین سوگواره هنرعاشورایی</p></a>
              </div>
              <div class=""><a><img  src="{{static_url('img/yy/Thumbnail_015.jpg')}}"><p>دومین جشنواره مطبوعات وخبرگزاری های خراسان جنوبی برگزار شد</p></a></div>
              <div class=""><a><img src="{{static_url('img/yy/Thumbnail_008.jpg')}}"><p>کارگاه طراحی پوستر بادختر خورشید برگزار شد</p></a></div>
              <div class=""><a><img src="{{static_url('img/yy/Thumbnail_030.jpg')}}"><p>غزه از نگاه کارتونیست های دنیادر موزه فلستطین</p></a></div>

          </div>
      </div>

      <hr/>

          <div class="row">
              <div class="col-md-4">
                  <h3 class="nazar">اعضای آنلاین</h3><p></p>
                  <div style="margin-right: 1em">
                      <img class="stjp" src="{{static_url('img/aza/13751375_2_1_th.jpg')}}">
                      <img class="stjp" src="{{static_url('img/aza/Aamir_1_th.jpg')}}">
                      <img class="stjp" src="{{static_url('img/aza/amankhani_th.jpg')}}">
                      <img class="stjp" src="{{static_url('img/aza/aminghafari_2_th.jpg')}}">
                      <img class="stjp" src="{{static_url('img/aza/artistman_1_th.jpg')}}">
                      <img class="stjp" src="{{static_url('img/aza/azamnemati_2_1_th.jpg')}}">
                      <img class="stjp" src="{{static_url('img/aza/beresha_1_th.jpg')}}">
                      <img class="stjp" src="{{static_url('img/aza/Aamir_1_th.jpg')}}">
                      <img class="stjp" src="{{static_url('img/aza/aminghafari_2_th.jpg')}}">
                      <img class="stjp" src="{{static_url('img/aza/amankhani_th.jpg')}}">
                      <img class="stjp" src="{{static_url('img/aza/artistman_1_th.jpg')}}">
                      <img class="stjp" src="{{static_url('img/aza/azamnemati_2_1_th.jpg')}}">
                      <img class="stjp" src="{{static_url('img/aza/fatemeh-khanabadi_1_1_th.jpg')}}">
                      <img class="stjp" src="{{static_url('img/aza/beresha_1_th.jpg')}}">
                      <img class="stjp" src="{{static_url('img/aza/13751375_2_1_th.jpg')}}">
                      <img class="stjp" src="{{static_url('img/aza/Aamir_1_th.jpg')}}">
                      <img class="stjp" src="{{static_url('img/aza/amankhani_th.jpg')}}">
                      <img class="stjp" src="{{static_url('img/aza/aminghafari_2_th.jpg')}}">
                      <img class="stjp" src="{{static_url('img/aza/artistman_1_th.jpg')}}">
                      <img class="stjp" src="{{static_url('img/aza/azamnemati_2_1_th.jpg')}}">
                      <img class="stjp" src="{{static_url('img/aza/beresha_1_th.jpg')}}">
                      <img class="stjp" src="{{static_url('img/aza/Aamir_1_th.jpg')}}">
                      <img class="stjp" src="{{static_url('img/aza/aminghafari_2_th.jpg')}}">
                      <img class="stjp" src="{{static_url('img/aza/amankhani_th.jpg')}}">
                      <img class="stjp" src="{{static_url('img/aza/artistman_1_th.jpg')}}">
                      <img class="stjp" src="{{static_url('img/aza/azamnemati_2_1_th.jpg')}}">
                      <img class="stjp" src="{{static_url('img/aza/fatemeh-khanabadi_1_1_th.jpg')}}">
                      <img class="stjp" src="{{static_url('img/aza/beresha_1_th.jpg')}}">
                      <img class="stjp" src="{{static_url('img/aza/13751375_2_1_th.jpg')}}">
                      <img class="stjp" src="{{static_url('img/aza/Aamir_1_th.jpg')}}">
                      <img class="stjp" src="{{static_url('img/aza/amankhani_th.jpg')}}">
                      <img class="stjp" src="{{static_url('img/aza/aminghafari_2_th.jpg')}}">
                      <img class="stjp" src="{{static_url('img/aza/artistman_1_th.jpg')}}">
                      <img class="stjp" src="{{static_url('img/aza/azamnemati_2_1_th.jpg')}}">
                      <img class="stjp" src="{{static_url('img/aza/beresha_1_th.jpg')}}">
                      <img class="stjp" src="{{static_url('img/aza/Aamir_1_th.jpg')}}">
                      <img class="stjp" src="{{static_url('img/aza/aminghafari_2_th.jpg')}}">
                      <img class="stjp" src="{{static_url('img/aza/amankhani_th.jpg')}}">
                      <img class="stjp" src="{{static_url('img/aza/artistman_1_th.jpg')}}">
                      <img class="stjp" src="{{static_url('img/aza/azamnemati_2_1_th.jpg')}}">
                      <img class="stjp" src="{{static_url('img/aza/fatemeh-khanabadi_1_1_th.jpg')}}">
                      <img class="stjp" src="{{static_url('img/aza/beresha_1_th.jpg')}}">
                  </div>    
              </div>
              <div class="col-md-4 nazar">
                  <h3>نظر سنجی</h3>
                  <p>به چه نوع تور عکاسی علاقه مند هستید؟</p>
                  <div>
                  <label>
                     <span>بازدید از امکان</span>
                     <input type="radio">
                  </label>
                  </div>
                  <div>
                  <label>
                     <span>گردش درون شهری </span>
                     <input type="radio">
                  </label>
                  </div>
                  <div>
                  <label>
                     <span>طبیعت گردی</span>
                     <input type="radio">
                  </label>
                  </div>
                  <div>
                      <input type="button" value="ارسال">
                      <p style="display: inline">تعداد کل نظرات:128</p>
                  </div>
              </div>
              <div class="col-md-4 nega"><h3>درباره نگارخانه ایرانی</h3><p class="nega">نگارخانه ایرانی (negarkhaneh.ir) با هدف معرفی، توانمند سازی و ایجاد ارتباط هنرمندان و همچنین به اشتراک گذاری آثار هنری تولیدی توسط اعضا در حوزه هنرهای تجسمی فعالیت خود را از تابستان 1386 آغاز نموده است. این سایت به عنوان بزرگترین شبکه اجتماعی هنرمندان و علاقه مندان به هنر در ایران، میزبان بیش از 18.000 عضو ثبت نام شده و حدود 150.000 بازدیدکننده در ماه می باشد؛ همچنین تاکنون بیش از 120.000 اثر تولیدی توسط هنرمندان و علاقه مندان به هنر در موضوعات طراحی گرافیک، نقاشی، عکاسی، خوشنویسی، مجسمه سازی، هنرهای دیجیتال و ... در این سایت به اشتراک گذاشته شده است.</p></div>
          </div>

          <hr>

          <div class="visible-lg">
              <ul class="nav navbar-nav navbar-right">
                      <li><a href="#">قوانین</a></li>
                      <li><a href="#">عضویت</a></li>
                      <li><a href="#">ارتباط با ما</a></li>
                      <li><a href="#">همکاری</a></li>
                      <li><a href="#">حمایت از ما</a></li>
                      <li><a href="#">تبلیغات</a></li>
                      <li><a href="#">درباره ما</a></li>
                      <li><a href="#">رویداد</a></li>
                      <li><a href="#">نوشتار</a></li>
                      <li><a href="#">خبر</a></li>
                      <li><a href="#">مدرسه</a></li>
                      <li><a href="#">تماشاخانه</a></li>
                      <li><a href="#">فروشگاه</a></li>
                      <li><a href="#">اعضا</a></li>
                      <li><a href="#">آثار</a></li>
                      <li><a href="#">خانه</a></li>
              </ul>
          </div>
      </div>


    </section>
  </section>






  <script src="{{static_url('js/jquery-2.1.1.min.js')}}"></script>
  <script src="{{static_url('js/bootstrap.min.js')}}"></script>
  <script src="{{static_url('js/npm.js')}}"></script>
</body>

</html>