<!DOCTYPE html>
<html>
<head><title> افزودن جدید</title>
<link href='{{ static_url("css/bootstrap.css") }}' rel="stylesheet">
<link href='{{ static_url("css/bootstrap-theme.css") }}' rel="stylesheet">
    <link href='{{ static_url("css/basic.css") }}' rel="stylesheet">

</head>
<body style="direction:rtl">
<div class="row">&nbsp;</div>
<div class="row">&nbsp;</div>
<div class="row">
    <div class="col-md-8 col-md-offset-2 ">
        <h3 class="Yekan" style="color:#2233dd"> اضافه کردن تصویر جدید </h3>
          <form method="post" action="">

          <div class="form-group">
            <label for="img" class="control-label Mitra" >

            </label>
            <input type="text" name="img" id="img" value="" placeholder="نام و ‍پس‍‍‍وند فایل را وارد نمایید" class="form-control" />

          </div>


        <input type="submit" class="btn btn-primary Yekan" value="ذخیره تغییرات" >
          </form>
    </div>
</div>
<script src="{{static_url('js/jquery.js')}}"></script>
<script src="{{static_url('js/bootstrap.js')}}"></script>

</body>
</html>