<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link href='{{ static_url("css/bootstrap.css") }}' rel="stylesheet">
<link href='{{ static_url("css/bootstrap-theme.css") }}' rel="stylesheet">
    <link href='{{ static_url("css/basic.css") }}' rel="stylesheet">

</head>
<body>
<div class="row">&nbsp;</div>
<div class="row">&nbsp;</div>
<div class="row">
    <div class="col-md-8 col-md-offset-2 ">
        <h3 class="Yekan" style=" text-align: center; color:#2233dd">محبوب ترین ها</h3>
        <a class="btn btn-lg btn-success Mitra pull-left" href="/negar/new">اضافه کردن عکس</a>
        <br/>      <br/>      <br/>
        <table class="table table-striped">
        {% for ch in catInfo %}
        <tr class="Mitra">
        <td>{{ch.id}}</td>

        <td><img class="stimg" src="{{ch.img}}"></td>

        <td> <a class="btn" href="/negar/edit/{{ch.id}}" > <span class="glyphicon glyphicon-pencil"></span>&nbsp;&nbsp; ویرایش </button></td>
         <td> <a class="btn" href="/negar/delete/{{ch.id}}" > <span class="glyphicon glyphicon-trash"></span>&nbsp;&nbsp; حذف </button></td>
        </tr>
        {% end %}
       </table>
    </div>
</div>
</body>
</html>